.app{
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #080924;
  overflow:hidden
}
.appBody{
  display: flex;
  background-color: #70A7E5;
  margin-top: -50px;
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.75);
  border-radius: 30px;
  overflow:hidden
}